.online {
  color: green;
}

.offline {
  color: red;
}

.friendCard {
  border: 3px solid gray;
  border-radius: 15px;
  padding: 6px;
  margin: 12px 32px 12px 0px;
}

.name {
  font-weight: bolder;
}
